@font-face {font-family: "Samarkan";
    src:url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.eot");
    src: url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.svg#Samarkan") format("svg");
}

img {
  max-width: 400px;
  max-height: 400px;
  padding-top: 2rem;
}

#background-image{
  background-image: url(http://i.huffpost.com/gen/1954088/images/o-YOGA-MOUNTAIN-facebook.jpg);
  color: hsl(196, 35%, 93%);
  background-attachment: fixed;
}

#title {
  font-family: 'Samarkan', sans-serif;
  font-size: 9rem;
}

.row{
  padding: 3rem;
}

  .poseDescription{
    background-color: hsla(220, 27%, 95%, 0.84);
    color: hsl(60, 2%, 8%);
    padding: 0rem;
    margin: 0;
    border-radius: 10px;
  }
