@font-face {font-family: "Samarkan";
    src:url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.eot");
    src: url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.eot?#iefix") format("embedded-opentype"),
    url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.woff2") format("woff2"),
    url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.woff") format("woff"),
    url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.ttf") format("truetype"),
    url("http://db.onlinewebfonts.com/t/7e96eba370659b4e4563309dc4ebb33f.svg#Samarkan") format("svg");
}

#title {
  font-family: 'Samarkan', sans-serif;
  font-size: 9rem;
}

#background-image{
  background-image: url(http://i.huffpost.com/gen/1954088/images/o-YOGA-MOUNTAIN-facebook.jpg);
  color: hsla(0,0%,100%, 0.86);
  background-attachment: fixed;
}

img {
  max-width: 500px;
  max-height: 500px;
  /*padding-top: 2rem;*/
  border-radius: 4rem;
  padding-right: 4rem;
}

.row{
  padding: 3rem;
}

  .pose{
    background-color: hsla(0,0%,100%, 0.86);
    color: hsl(60, 2%, 8%);
    padding-left: 10rem;
    border-radius: 4rem;
    margin: 2rem;
  }

  .nameDescription{
    padding-left: 10rem;
  }
